#menu li ul {
  display:none;
position:absolute;
}
#menu li:hover > ul {
  display:block;
}
#menu ul{
margin:0;
padding:0;
line-height:35px;
}
#menu li{
float:left;
list-style:none;
position:relative;
text-align:center;
width:170px;
background-color:white;
}

#menu li ul ul {
  left:100%;
  top:0px;
}
#menu li li{
float:none;
background-color:orange;
}
#menu li li li{
background-color:;
}
#menu li li li li{
background-color:orange;
}
#menu li a{
color:orange;
text-decoration:none;
text-align:center;
display:block;
}
#menu li a:hover{
background-color:white;
text-decoration:none;
color:black;
}